---
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
# Configuración de la estructura global
- name: Infrastructure/0.CROSS
  type: core.Directory
- name: Infrastructure/1.Integracion
  type: core.Directory
- name: Infrastructure/2.UAT
  type: core.Directory
- name: Infrastructure/3.Produccion
  type: core.Directory
- name: Infrastructure/0.CROSS/localhost
  type: overthere.LocalHost
  os: UNIX
# Configuración propia de los contenedores
- name: {{.SshServer}}/{{.ContainerName}}
  type: orange.SpaContainer
  hostToDeploy: {{.HostToDeploy}}
  environment: {{.Environment}}
  groups:
  - {{.Groups}}
  - target_host
  gitlab_url: {{.GitLabUrl}}
  gitlab_user: {{.GitLabUser}}
  gitlab_token: {{.GitLabToken}}
