---
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/{{.FolderName}}
  type: core.Directory
- name: Applications/{{.FolderName}}/{{.AppName}}
  type: udm.Application
- name: Applications/{{.FolderName}}/{{.AppName}}/{{.AppVersion}}
  type: udm.DeploymentPackage
  deployables:
  - name: {{.SpaName}}
    type: orange.Spa
    tecnologia: {{.TechnologyName}}
    testUrl: {{.TestUrl}}
