---
apiVersion: xl/v1
kind: Import
metadata:
 imports:
   - xebialabs/deployment.yaml
   - xebialabs/destination-rule.yaml
   - xebialabs/service.yaml
   - xebialabs/virtual-service.yaml
   - xebialabs/gateway.yaml
{{if eq .GenerateTransition "Yes"}}   - xebialabs/virtual-service-transition.yaml
   - xebialabs/deployment-transition.yaml
{{- end}}
