---
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/Applications
  type: core.Directory
- name: Applications/Applications/application-{{.ApplicationName}}-k8s
  type: core.Directory
- name: Applications/Applications/application-{{.ApplicationName}}-k8s/virtual-service-{{.MicroserviceName}}
  type: udm.Application
- name: Applications/Applications/application-{{.ApplicationName}}-k8s/virtual-service-{{.MicroserviceName}}/{{.MicroserviceVersionToReplace}}+{{.MicroserviceVersion}}
  type: udm.DeploymentPackage
  deployables:
  - name: virtual-service-{{.MicroserviceName}}-{{.MicroserviceVersionToReplace}}+{{.MicroserviceVersion}}
    type: k8s.ResourcesFile
    mergePatchType: merge
    propagationPolicy: Foreground
    updateMethod: patch
    file: !file "resourcesFiles/virtual-service-transition.yaml"
  applicationDependencies:
    destination-rule-{{.MicroserviceName}}: "{{.MicroserviceVersionToReplace}}"
    destination-rule-{{.MicroserviceName}}: "{{.MicroserviceVersion}}"
